@import url("https://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0 auto;
  font-size: 24px;
}

h1 {
  text-align: center;
  font-size: 42px;
  color: #55c1ff;
  background-color: #212529;
  padding: 20px;
}

.container {
  max-width: 95%;
  min-height: 430px;
  margin: 80px auto;
  display: flex;
  align-items: flex-start;
}

.aside {
  width: 28%;
}

.instructions {
  width: 80%;
  font-size: 9px;
  text-align: left;
}

label {
  color: #55c1ff;
}

form {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #212529;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  width: 80%;
  margin: 40px auto;
}

.board {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
}

.square {
  height: 117px;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: #55c1ff;
}

/* .nes-icon {
  width: 0px;
  height: 0px;
  margin: 0;
}

.nes-icon::before {
  position: static;
  top: 0;
  left: 0;
  margin: 0px 13px;
}

.nes-icon.is-large {
  margin-right: 0;
  margin-bottom: 0;
  transform: scale(4);
}

.square span .nes-icon .is-large .star {
  margin-bottom: 90px;
  margin-left: 60px;
  margin-top: 0;

} */

.square.nes-container.is-rounded {
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-bottom: 10px;
  margin-right: 10px;
}

.message {
  width: 28%;
}

.message-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inside-balloon {
  text-align: center;
}

.footer {
  font-size: 10px;
  color: #fff;
  background-color: #212529;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1.5px;
}

i {
  color: #55c1ff;
}

.skill {
  color: #ff3;
}

.horizontal0 {
  position: absolute;
  margin-left: 490px;
  margin-right: 500px;
  top: 235px;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 1;
}

.horizontal1 {
  position: absolute;
  margin-left: 490px;
  margin-right: 500px;
  top: 365px;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 1;
}

.horizontal2 {
  position: absolute;
  margin-left: 490px;
  margin-right: 500px;
  top: 504px;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 1;
}

.vertical0 {
  position: absolute;
  margin-left: 473px;
  margin-right: 607px;
  top: 369px;
  left: -133px;
  right: 0;
  visibility: hidden;
  z-index: 1;
  transform: rotate(90deg);
}

.vertical1 {
  position: absolute;
  margin-left: 473px;
  margin-right: 607px;
  top: 369px;
  left: 61px;
  right: 0;
  visibility: hidden;
  z-index: 1;
  transform: rotate(90deg);
}

.vertical2 {
  position: absolute;
  margin-left: 473px;
  margin-right: 607px;
  top: 369px;
  left: 254px;
  right: 0;
  visibility: hidden;
  z-index: 1;
  transform: rotate(90deg);
}

.diagonalRight {
  position: absolute;
  margin-left: 490px;
  margin-right: 455px;
  top: 353px;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 1;
  transform: rotate(-35deg);
}

.diagonalLeft {
  position: absolute;
  margin-left: 449px;
  margin-right: 500px;
  top: 354px;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 1;
  transform: rotate(35deg);
}