@import url("https://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker");

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 18px;
  font-family: "Patrick Hand", cursive;
}

h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 42px;
  color: #55C1FF;
  background-color: #715AFF;
}

.container {
  max-width: 960px;
  min-height: 800px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.instructions {
  width: 300px;
  color: #715AFF;
  font-size: 16px;
}

.board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #55C1FF; */
  /* border: solid #715AFF; */
}

.square {
  width: 32.1%;
  height: 32.2%;
  margin: 0 auto;
  /* border: solid #715AFF; */
  text-align: center;
  font-size: 600%;
  color: #fff;
  border-radius: 0.5em;
  background-color: #55C1FF;
  /* color:  #A682FF; */
}
